<!-- #PORTLETS START -->
<div id="portlets">  
	<!--THIS IS A PORTLET-->
	<div class="portlet">
		<div class="portlet-content">
			<h1>Journal</h1>
			<% for entry in @entries %>
				<p><%= entry.description %></p>
			<% end %>
			
			<p><%= link_to "New Entry", new_entry_path %></p>
		</div>
	</div>
     
 
	<div class="clear"></div>
		<!--THIS IS A WIDE PORTLET-->
		<!--  END #PORTLETS -->  
	</div>
	<div class="clear"> </div>
	<!-- END CONTENT-->    
</div>


