<div id="portlets">  
	<!--THIS IS A PORTLET-->
	<div class="portlet form">
		<div class="portlet-content">
			<h1>New Journal Entry</h1>
			<%= render :partial => 'form' %>
			
			<p>&nbsp;</p>
		</div>
	</div>



	<div class="clear"></div>
		<!--THIS IS A WIDE PORTLET-->
		<!--  END #PORTLETS -->  
	</div>
	<div class="clear"> </div>
	<!-- END CONTENT-->    
</div>