<!-- #PORTLETS START -->
<div id="portlets">  
	<!--THIS IS A PORTLET-->
	<div class="portlet">
		<div class="portlet-content">
			<h1><%= @entry.description %></h1>
			<p>[ notes ]</p>
			
			
			<%= render :partial => 'form' %>
			

		</div>
	</div>
     
 
	<div class="clear"></div>
		<!--THIS IS A WIDE PORTLET-->
		<!--  END #PORTLETS -->  
	</div>
	<div class="clear"> </div>
	<!-- END CONTENT-->    
</div>