<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="A nice clean, sexy template!" />
<meta name="generator" content="" />

<title>Split Schedule | <%= yield(:title) %></title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" href="stylesheets/symplex.css" type="text/css" media="screen" />

<!-- Load everything JS and aditional CSS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
<script src="includes/js/infinite-carousel.js" type="text/javascript"></script>
<script src="includes/js/jquery.cycle.all.js" type="text/javascript"></script>
<script src="includes/js/cufon.js" type="text/javascript"></script>
<script src="includes/js/PT_Sans_400-PT_Sans_700-PT_Sans_italic_400-PT_Sans_italic_700.font.js" type="text/javascript"></script>
<script src="includes/js/Museo_400-Museo_italic_400.font.js" type="text/javascript"></script>
<link rel="stylesheet" href="includes/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="includes/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="includes/css/coda-popup.css" type="text/css" media="screen" charset="utf-8" />
<script src="includes/js/coda-popup.js" type="text/javascript" charset="utf-8"></script>
<script src="includes/js/filterable.js" type="text/javascript" charset="utf-8"></script>
<script src="includes/js/textoverflow.js" type="text/javascript" charset="utf-8"></script>

<script src="includes/js/main.js" type="text/javascript" charset="utf-8"></script>

<script src="includes/js/contact-form.js" type="text/javascript" charset="utf-8"></script>

<!--[if IE 6]>
<script type="text/javascript" src="includes/js/pngfix.js"></script>
<script type="text/javascript">DD_belatedPNG.fix('*');</script>
<link rel="stylesheet" href="gui/ie6.css" type="text/css" media="screen" charset="utf-8" />
<![endif]-->

<!--[if IE 7]>
<link rel="stylesheet" href="gui/ie7.css" type="text/css" media="screen" charset="utf-8" />
<![endif]-->


</head>
<body>

<!-- Begin Header Area -->
<div id="top-bar">
    <div class="wrap-center">
    <div class="fl welcome">Welcome to Split / Schedule, helping you co-parent.</div>
    <div class="fr">
        <ul>
            <li class="last">Too close for missiles, I'm switching to guns.</li>
        </ul>
    </div>
    <div class="clear"></div>
    </div>
</div>

<div id="menu-logo">
    <div class="wrap-center">
         <div id="logo">
            <a href="index.html"><img src="images/splitschedule-logo.png" height = "52" alt="Split Schedule" /></a>
        </div>
        <ul id="dropmenu">
                <li><a href="index.html" title="Home">Home</a></li>
                <li><a href="blog.html" title="Blog">Blog</a></li>
                <li><a href="/register" title="Register">Register</a></li>
                <li class="active"><a href="/login" title="Login">Log In</a></li>
        </ul>
        <div class="clear"></div>
   </div>
</div>

<div id="heading" class="heading-inner">
	<div class="wrap-center">
		<div class="cont-vert-description">
			<div class="outer-vert-description">
				<div class="inner-vert-description">
					<div class="vert-position-description page-description">
						<h1 class="vert-position-title" style="color:#fff">Login</h1>
					</div>
				</div>
			</div>
            </div>
            <div class="cont-vert-title">
                     <div class="outer-vert-title">
                        <div class="inner-vert-title">
                          
                        </div>
                      </div>
            </div>
            <div class="clear"></div>
     </div>
</div>
<!-- End Header Area -->

<!-- Begin Content -->
<div id="content-area">
	<div class="wrap-center">

    	<%= yield %>

		<div id="sidebar">
			<div class="sidebar-top">
				<div class="sidebar-bottom">
					<div class="sidepanel">
					</div>

					<div class="sidepanel">
						<h3>Create an Account</h3>
						<div class="text">
							<div class="form-button-left" style="margin-left: 27px">
								<p><a href="/register"><button type="submit" class="form-button-right">Join!</button></a></p>
							</div>
							
						</div>
						
						
					</div>
				</div>
			</div>
		</div><!-- end #sidebar -->
		<div class="clear"></div>
	</div><!-- end .wrap center -->
</div><!-- end #content-area -->
<!-- End Content -->

<!-- Begin Footer -->
<div id="footer">
<div id="footer-link-columns">
	<div class="wrap-center">
		<div class="panelfooter">
			
		</div>
		<div class="panelfooter">
			
		</div>
		<div class="panelfooter">
			
		</div>
		<div class="panelfooter">
		</div>
		<div class="panelfooter">
			<h3>Contact</h3>
			<div class="textwidget">
				<b>Phone:</b> 1-406-837-9970<br/>
				<b>Email:</b> i@split.com<br/>
				<b>Twitter:</b> @splitschedule<br/>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="footer-bottom">
    <div class="wrap-center">
        <div class="fl copy">
            Split Schedule is Web Judicata product. &copy; 2010 Split Schedule. Developed by <a href="#">Paul Sullivan</a>.<br/>
        </div>
        <div class="fr soclials">
            <ul>
                <li class="social-item">
                    <a href="http://www.twitter.com/splitschedule"><img src="stylesheets/gui/images/social/twitter.png" width="29" height="29" alt="Twitter" /><br/>
                    Twitter</a>
                </li>
                <li class="social-item">
                    <a href="#"><img src="stylesheets/gui/images/social/facebook.png" width="29" height="29" alt="Facebook" /><br/>
                    Facebook</a>
                </li>
                <li class="social-item">
                    <a href="#"><img src="stylesheets/gui/images/social/rss.png" width="29" height="29" alt="RSS" /><br/>
                    RSS</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
     </div>
</div>
</div><!-- #footer -->
<!-- End Footer -->

<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>